.navigation {
  background: $black;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  min-height: 100%;
  padding: 20px 0;
  user-select: none;

  &__link {
    align-items: center;
    color: $white;
    cursor: pointer;
    display: flex;
    height: 40px;
    padding: 0 20px;
    position: relative;

    &-back {
      background-color: $gray2;
      margin-bottom: 20px;
    }

    &.active {
      background: rgba($blue3, 80%);
      color: $white;
    }
  }

  &__section{
    align-items: center;
    color: $blue3;
    cursor: pointer;
    display: flex;
    font-size: 1.5em;
    height: 80px;
    padding: 20px 10px 0 10px;
    position: relative;
  }

}
